@page "/map"
@using System.ComponentModel.DataAnnotations
@using PapsCourse.Shared.Models.Area
@inject HttpClient HttpClient
@inject PapsCourse.Client.Services.Abstract.IAccountSession Session

<link href="/css/mall/map.css" type="text/css" rel="stylesheet" />
<link href="/css/loading.css" type="text/css" rel="stylesheet" />

<div class="map-container position-relative p-3">

    @if (isLoading)
    {
        <div id="map-loading" class="loading-window">
            <p class="loading-text">Идёт загрузка карты...</p>
            <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="loading-bg">

        </div>
    }

    <h3 class="mb-4">Карта ТЦ "Peach"</h3>
    <div class="floors-container d-flex align-items-center">
        <p>Этаж: </p>
        <ul class="pagination ml-2">
            @for (int i = 1; i <= floorsCount; i++)
            {
                int floor = i;
                <li class="page-item @(selectedFloor == floor ? "active" : "")">
                    <a class="page-link" @onclick="() => ChangeFloor(floor)">@i</a>
                </li>
            }
        </ul>
    </div>

    <div class="floor-container">
        @switch (selectedFloor)
        {
            case 1:
                <svg id="first-floor" class="floor" viewBox="52.407 10.014 1215.309 609.711" xmlns="http://www.w3.org/2000/svg">
                    @*<polyline style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" points="629.696 270.474" />*@
                    <rect class="svg-element purple" x="335.036" y="54.999" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="389.171" y="54.656" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="443.649" y="54.142" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="497.784" y="53.799" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="333.837" y="167.638" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="387.972" y="167.295" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="442.764" y="166.438" width="102.788" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <polygon @onclick="() => ShowAreaInfo(0)" class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="208.291 249.978 208.291 168.386 124.636 168.386 124.636 208.184 163.939 249.293" transform="matrix(-1, 0, 0, -1, 332.927002, 418.363998)" />
                    <polygon class="svg-element not-available-area" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="327.525 167.7 327.525 249.292 243.87 249.292 243.87 209.494 283.173 168.385" />
                    <polygon @onclick="() => ShowAreaInfo(1)" class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="327.526 137.424 327.526 55.832 243.871 55.832 243.871 95.63 283.174 136.739" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="208.976 55.948 208.976 137.54 125.321 137.54 125.321 97.742 164.624 56.633" transform="matrix(-1, 0, 0, -1, 334.296997, 193.487999)" />
                    <circle @onclick="() => ShowAreaInfo(2)" class="svg-element darkred" style="fill: rgb(139, 0, 0);" cx="224.71" cy="151.305" r="22.82" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="639.317 54.003 639.317 135.595 555.662 135.595 555.662 95.797 594.965 54.688" transform="matrix(-1, 0, 0, -1, 1194.979004, 189.598)" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="637.946 249.607 637.946 168.015 554.291 168.015 554.291 207.813 593.594 248.922" transform="matrix(-1, 0, 0, -1, 1192.237, 417.621994)" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="773.627 135.281 773.627 53.689 689.972 53.689 689.972 93.487 729.275 134.596" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="773.886 168.441 773.886 250.033 690.231 250.033 690.231 210.235 729.534 169.126" />
                    <rect class="svg-element purple" x="554.318" y="259.289" width="84.287" height="167.888" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="690.685" y="258.863" width="83.601" height="50.024" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="690.314" y="317.109" width="83.601" height="50.024" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="690.999" y="375.356" width="83.601" height="50.024" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element darkred" x="269.843" y="275.708" width="57.882" height="57.882" style="fill: rgb(139, 0, 0);" transform="matrix(0.707107, 0.707107, -0.707107, 0.707107, 668.834839, -274.533203)" />
                    <rect class="svg-element purple" x="782.602" y="54.335" width="157.243" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="945.35" y="54.135" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="781.403" y="167.974" width="105.431" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="892.108" y="167.459" width="99.779" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element green" x="1000.441" y="53.475" width="208.111" height="195.959" style="fill: rgb(0, 120, 0);" />
                    <rect class="svg-element green" x="690.899" y="433.957" width="84.287" height="167.888" style="fill: rgb(0, 120, 0);" />
                    <rect class="svg-element green" x="553.533" y="552.236" width="130.702" height="50.024" style="fill: rgb(0, 120, 0);" />
                    <rect class="svg-element green" x="553.533" y="434.483" width="83.601" height="71.69" style="fill: rgb(0, 120, 0);" />
                    <image xlink:href="/images/areas/reparing.svg"
                           x="270" y="190" height="40px" width="40px" />
                </svg>
                break;
            case 2:
                <svg id="second-floor" class="floor" viewBox="52.407 10.014 1215.309 609.711" xmlns="http://www.w3.org/2000/svg">
                    <polyline style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" points="629.696 270.474" />
                    <rect class="svg-element purple" x="335.036" y="54.999" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="389.171" y="54.656" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="443.649" y="54.142" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="497.784" y="53.799" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="333.837" y="167.638" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="387.972" y="167.295" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="442.764" y="166.438" width="102.788" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="208.291 249.978 208.291 168.386 124.636 168.386 124.636 208.184 163.939 249.293" transform="matrix(-1, 0, 0, -1, 332.927002, 418.363998)" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="327.525 167.7 327.525 249.292 243.87 249.292 243.87 209.494 283.173 168.385" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="327.526 137.424 327.526 55.832 243.871 55.832 243.871 95.63 283.174 136.739" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="208.976 55.948 208.976 137.54 125.321 137.54 125.321 97.742 164.624 56.633" transform="matrix(-1, 0, 0, -1, 334.296997, 193.487999)" />
                    @*<circle class="svg-element darkred" style="fill: rgb(139, 0, 0);" cx="224.71" cy="151.305" r="22.82" />*@
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="639.317 54.003 639.317 135.595 555.662 135.595 555.662 95.797 594.965 54.688" transform="matrix(-1, 0, 0, -1, 1194.979004, 189.598)" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="637.946 249.607 637.946 168.015 554.291 168.015 554.291 207.813 593.594 248.922" transform="matrix(-1, 0, 0, -1, 1192.237, 417.621994)" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="773.627 135.281 773.627 53.689 689.972 53.689 689.972 93.487 729.275 134.596" />
                    <polygon class="svg-element green" style="stroke: rgb(0, 0, 0); fill: rgb(0, 120, 0);" points="773.886 168.441 773.886 250.033 690.231 250.033 690.231 210.235 729.534 169.126" />
                    <rect class="svg-element purple" x="554.318" y="259.289" width="84.287" height="167.888" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="690.685" y="258.863" width="83.601" height="50.024" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="690.314" y="317.109" width="83.601" height="50.024" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="690.999" y="375.356" width="83.601" height="50.024" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element darkred" x="269.843" y="275.708" width="57.882" height="57.882" style="fill: rgb(139, 0, 0);" transform="matrix(0.707107, 0.707107, -0.707107, 0.707107, 668.834839, -274.533203)" />
                    <rect class="svg-element purple" x="782.602" y="54.335" width="157.243" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="945.35" y="54.135" width="47.968" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="781.403" y="167.974" width="105.431" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element purple" x="892.108" y="167.459" width="99.779" height="82.916" style="fill: rgb(102, 51, 153);" />
                    <rect class="svg-element green" x="1000.441" y="53.475" width="208.111" height="195.959" style="fill: rgb(0, 120, 0);" />
                    <rect class="svg-element green" x="690.899" y="433.957" width="84.287" height="167.888" style="fill: rgb(0, 120, 0);" />
                    <rect class="svg-element green" x="553.533" y="552.236" width="130.702" height="50.024" style="fill: rgb(0, 120, 0);" />
                    <rect class="svg-element green" x="553.533" y="434.483" width="83.601" height="71.69" style="fill: rgb(0, 120, 0);" />
                </svg>
                break;
            default:
                <div>
                    <p>Идёт реконструкция этажа...</p>
                    <p>Скоро всё будет готово!</p>
                </div>
                break;
        }
    </div>

    @if (isAreaInfoShowed)
    {
        <div class="area-info-container">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3>Торговое помещение #@SelectedArea.Id</h3>
                <button class="close-btn" @onclick="HideAreaInfo">➥</button>
            </div>

            <div class="row">
                <div class="col-6 area-info-plan-container d-flex">
                    <nav class="carousel d-flex flex-column mr-3">
                        @for (int i = 0; i < 3; i++)
                        {
                            int value = i;
                            <input id="carousel-item-@value" type="radio" value="@value" name="carousel-dots" @onchange="SelectAreaInfoViewSelection" checked=@(value == selectedAreaInfoView) />
                        }
                    </nav>
                    @switch (selectedAreaInfoView)
                    {
                        case 0:
                            <img src="/images/areas/plan-1.jpg" />
                            break;
                        case 1:
                            <svg viewBox="52.407 10.014 1215.309 609.711" xmlns="http://www.w3.org/2000/svg">
                                <rect class="svg-element not-available-area" x="335.036" y="54.999" width="47.968" height="82.916" />
                                <rect class="svg-element not-available-area" x="389.171" y="54.656" width="47.968" height="82.916" />
                                <rect class="svg-element not-available-area" x="443.649" y="54.142" width="47.968" height="82.916" />
                                <rect class="svg-element not-available-area" x="497.784" y="53.799" width="47.968" height="82.916" />
                                <rect class="svg-element not-available-area" x="333.837" y="167.638" width="47.968" height="82.916" />
                                <rect class="svg-element not-available-area" x="387.972" y="167.295" width="47.968" height="82.916" />
                                <rect class="svg-element not-available-area" x="442.764" y="166.438" width="102.788" height="82.916" />
                                <polygon class="svg-element selected-area" points="208.291 249.978 208.291 168.386 124.636 168.386 124.636 208.184 163.939 249.293" transform="matrix(-1, 0, 0, -1, 332.927002, 418.363998)" />
                                <polygon class="svg-element not-available-area" points="327.525 167.7 327.525 249.292 243.87 249.292 243.87 209.494 283.173 168.385" />
                                <polygon class="svg-element not-available-area" points="327.526 137.424 327.526 55.832 243.871 55.832 243.871 95.63 283.174 136.739" />
                                <polygon class="svg-element not-available-area" points="208.976 55.948 208.976 137.54 125.321 137.54 125.321 97.742 164.624 56.633" transform="matrix(-1, 0, 0, -1, 334.296997, 193.487999)" />
                                <circle class="svg-element not-available-area" style="fill: rgb(139, 0, 0);" cx="224.71" cy="151.305" r="22.82" />
                                <polygon class="svg-element not-available-area" points="639.317 54.003 639.317 135.595 555.662 135.595 555.662 95.797 594.965 54.688" transform="matrix(-1, 0, 0, -1, 1194.979004, 189.598)" />
                                <polygon class="svg-element not-available-area" points="637.946 249.607 637.946 168.015 554.291 168.015 554.291 207.813 593.594 248.922" transform="matrix(-1, 0, 0, -1, 1192.237, 417.621994)" />
                                <polygon class="svg-element not-available-area" points="773.627 135.281 773.627 53.689 689.972 53.689 689.972 93.487 729.275 134.596" />
                                <polygon class="svg-element not-available-area" points="773.886 168.441 773.886 250.033 690.231 250.033 690.231 210.235 729.534 169.126" />
                                <rect class="svg-element not-available-area" x="554.318" y="259.289" width="84.287" height="167.888" />
                                <rect class="svg-element not-available-area" x="690.685" y="258.863" width="83.601" height="50.024" />
                                <rect class="svg-element not-available-area" x="690.314" y="317.109" width="83.601" height="50.024" />
                                <rect class="svg-element not-available-area" x="690.999" y="375.356" width="83.601" height="50.024" />
                                <rect class="svg-element not-available-area" x="269.843" y="275.708" width="57.882" height="57.882" transform="matrix(0.707107, 0.707107, -0.707107, 0.707107, 668.834839, -274.533203)" />
                                <rect class="svg-element not-available-area" x="782.602" y="54.335" width="157.243" height="82.916" />
                                <rect class="svg-element not-available-area" x="945.35" y="54.135" width="47.968" height="82.916" />
                                <rect class="svg-element not-available-area" x="781.403" y="167.974" width="105.431" height="82.916" />
                                <rect class="svg-element not-available-area" x="892.108" y="167.459" width="99.779" height="82.916" />
                                <rect class="svg-element not-available-area" x="1000.441" y="53.475" width="208.111" height="195.959" />
                                <rect class="svg-element not-available-area" x="690.899" y="433.957" width="84.287" height="167.888" />
                                <rect class="svg-element not-available-area" x="553.533" y="552.236" width="130.702" height="50.024" />
                                <rect class="svg-element not-available-area" x="553.533" y="434.483" width="83.601" height="71.69" />
                            </svg>
                            break;
                        case 2:
                            break;
                    }

                </div>
                <div class="col-6 area-photos-container d-flex flex-wrap justify-content-center">
                    <div class="area-photo-container">
                        <img class="area-photo" src="/images/areas/area-1.jpg" />
                    </div>
                    <div class="area-photo-container">
                        <img class="area-photo" src="/images/areas/area-1.jpg" />
                    </div>
                    <div class="area-photo-container">
                        <img class="area-photo" src="/images/areas/area-1.jpg" />
                    </div>
                    <div class="area-photo-container">
                        <img class="area-photo" src="/images/areas/area-1.jpg" />
                    </div>
                    <div class="area-photo-container">
                        <img class="area-photo" src="/images/areas/area-1.jpg" />
                    </div>
                    <div class="area-photo-container">
                        <img class="area-photo" src="/images/areas/area-1.jpg" />
                    </div>
                </div>
            </div>
            <div class="area-info-data-container mt-4">
                <div class="area-info-data-title mb-2">
                    Информация
                </div>
                <div class="area-info-data">
                    <div class="row">
                        <div class="col-3">
                            Площадь:
                        </div>
                        <div class="col">
                            @SelectedArea.Square
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Кондиционер:
                        </div>
                        <div class="col">
                            @if (SelectedArea.HasConditioner)
                            {
                                <span>Есть</span>
                            }
                            else
                            {
                                <span>нет</span>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Количество окон:
                        </div>
                        <div class="col">
                            @SelectedArea.WindowsCount
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Количество входов:
                        </div>
                        <div class="col">
                            @SelectedArea.EntriesCount
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Цена за кв м
                        </div>
                        <div class="col">
                            @SelectedArea.Price
                        </div>
                    </div>
                </div>
            </div>
            @if (Session.IsAuthenticated && bool.Parse(Session.GetValue("isAdmin")))
            {
                <a href="/admin/area/edit/@(openedAreaId)" class="rentLink">Редактировать</a>
            }
            else
            {
                <a href="/rentArea/@(openedAreaId)" class="rentLink">Арендовать</a>
            }
        </div>
    }
</div>

@code {
    private int selectedFloor = 1;
    private const int floorsCount = 5;
    private bool isLoading = true;
    private bool isAreaInfoShowed = false;
    private int selectedAreaInfoView = 0;
    private Area SelectedArea;
    private List<Area> Areas;
    private int openedAreaId = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadMapData();
        HideLoading();
    }

    private void ChangeFloor(int floor)
    {
        selectedFloor = floor;
    }

    private async Task LoadMapData()
    {
        await Task.Delay(3000);
        Areas = await HttpClient.GetFromJsonAsync<List<Area>>("Square/getSquares");
    }

    private void HideLoading()
    {
        isLoading = false;
    }

    private void HideAreaInfo()
    {
        isAreaInfoShowed = false;
    }

    private void ShowAreaInfo(int areaId)
    {
        isAreaInfoShowed = true;
        SelectedArea = Areas[areaId];
        openedAreaId = SelectedArea.Id;
    }

    void SelectAreaInfoViewSelection(ChangeEventArgs args)
    {
        selectedAreaInfoView = int.Parse(args.Value.ToString());
    }
}